################### {Beat} Configuration Example #########################

############################# {Beat} ######################################

iibbeat:
  # Defines how often an event is sent to the output
  period: 10s
  mqsiscriptpath: "./mqsicmd.sh"
